/2.8 Tiempo_transmision/build/
/2.8 Tiempo_transmision/nbproject/private/
/2.4 Servidor_Cliente_Hilos/build/
/2.4 Servidor_Cliente_Hilos/nbproject/private/
/2.5 Tiempo_transmision/build/
/2.5 Tiempo_transmision/nbproject/private/
/2.2 Servidor_Cliente_Hilos/build/
/2.2 Servidor_Cliente_Hilos/nbproject/private/
/2.2 Servidor_Cliente_Hilos/dist/
/Práctica 4.1/Ejercicio 1/ClienteG/build/
/Práctica 4.1/Ejercicio 1/ClienteG/nbproject/private/
/Práctica 4.1/Ejercicio 1/ServidorG/build/
/Práctica 4.1/Ejercicio 1/ServidorG/nbproject/private/
/Práctica 4.1/Ejercicio 2/ServidorG2/nbproject/private/
